{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row absolute">
  <div class="card col-4" style="width: 100%;">
    <img src="{{data['book_img']}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h3>{{data['book_title']}}</h3>
      <p class="card-text">{{data['author_name']}}</p>
    </div>
  </div>
  <div class="col-8">
    <h2>Reviews: #{{data['ratings_count']}} <p>average rating: {{data['avg_rating']}}</p></h2>
    <p>Add a review..</p>
    <textarea name="name" rows="4" class="form-control"></textarea>
    <button type="button" class="mt-3 mb-3 btn btn-info" name="button">Add</button>
    <div class="flow-y">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>

{% endblock %}
