{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row absolute">
  <div class="card col-4" style="width: 100%;">
    <img src="{{data['book_img']}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h3>{{data['book_title']}}</h3>
      <p class="card-text">{{data['author_name']}}</p>
    </div>
  </div>
  <div class="col-8">
    <h2>Reviews: #{{data['ratings_count']}} <p>average rating: {{data['avg_rating']}}</p></h2>
    <p>Add a review..</p>
    <form class="" action="{{url_for('goodreads_api', isbn=data['isbn'])}}" method="post">
      <textarea name="description" rows="4" class="form-control"></textarea>
      <button type="submit" class="mt-3 mb-3 btn btn-info" name="button">Add</button>
    </form>
    <div class="flow-y">
      {% for review in reviews %}
        <p>{{review.description}}</p>
        <small>{{review.username}}</small>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
